* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #261c2c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#counter {
  color: #6e85b2;
  font-size: 5rem;
}

.buttons-wrapper {
  margin-top: 10px;
}

button {
  padding: 10px;
  color: #6e85b2;
  background: #3e2c41;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:not(:first-child) {
  margin-left: 10px;
}

button:hover {
  color: #3e2c41;
  background: #6e85b2;
}
